services:
  mongo-express:
    image: mongo-express
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: 123456
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_MONGODB_SERVER: db
    links:
      - db
    networks:
      - mongo-compose-network
  db:
    image: mongo:latest # Use o último versão do mongo.  Certifique-se que este é a versão que você está usando.
    ports:
      - "27017:27017" # Expor a porta 27017 (porta padrão do MongoDB) para o host
    volumes:
      - mongodb_data:/data/db # Alocar um volume para o banco de dados
    environment:
      - MongoDB_URI=mongodb://localhost:27017/listmanager # Definir o URI do MongoDB
      - MongoDB_PASSWORD=123456 # Substitua por sua senha (se você estiver usando autenticação)
      - MongoDB_USER=admin # Substitua por seu usuário MongoDB
      - MongoDB_DATABASE=listmanager
    networks:
      - mongo-compose-network

volumes:
  mongodb_data:

networks: 
    mongo-compose-network:
      driver: bridge